body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("./images/hotdog.png");
  background-size: 50px;
  background-attachment: fixed;
}

nav {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 12px;

  background-color: gold;
}

.nav-button {
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;

  width: 25%;
  font-size: 1.2em;
  font-family: cursive;
  font-weight: bold;
}

.nav-button:hover {
  border-color: gold;
  background-color: red;
  color: white;
}

.nav-button:active {
  border-color: gold;
  background-color: white;
  color: red;
}

#content {
  border: 2px solid red;
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;
  height: 70vh;
  width: 400px;
  background-color: gold;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  border-radius: 12px;
  width: 80%;
  padding: 20px;
  font-family: cursive;
  background-color: white;
  color: red;
}

.title {
  /* clip-path: polygon(
    0 21%,
    11% 0,
    89% 0,
    100% 21%,
    100% 79%,
    89% 100%,
    11% 100%,
    0 79%
  ); */
  font-size: 4em;
  font-family: cursive;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.5);
  color: gold;
  padding: 5px 10px;
  margin-top: 0px;
  width: 100vw;

  border: 2px solid gold;
  border-radius: 12px;
  text-align: center;

  -webkit-text-stroke: 0.2px black;
}
